<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="training" translate="label" sortOrder="0">
            <label>Vnext</label>
        </tab>
        <section id="training" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Training</label>
            <tab>training</tab>
            <resource>Vnext_BasicTraining::student_pending</resource>
            <group id="general_training" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 1</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Dropdown list</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="seo_training" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 2</label>
                <field id="student_index_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Student Index URL path</label>
                </field>
                <field id="postfix_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postfix URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
